<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Auto CM Generator</title>
    <meta name="viewport" content="user-scalable=yes, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="css/jquery.mobile-1.2.0.css" />
    <link rel="stylesheet" href="css/jquery.mobile.splitview.css" />
    <link rel="stylesheet" href="css/jquery.mobile.grids.collapsible.css" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5.js"></script>
    <![endif]-->
    <script src="js/jquery-1.8.2.min.js"></script>
    <script src="js/jquery.mobile.splitview.js"></script>
    <script src="js/jquery.mobile-1.2.0.js"></script>
    <script src="js/generator.js"></script>
  <body>
    <div data-role="panel" data-id="menu" data-hash="false">
      <div data-role="page">
        <div data-role="header" data-position="fixed">
          <h1>Auto CM</h1>
        </div>
        <div>
          <h3>Press key</h3>
          <div id="press_key_div">
          </div>
          <h3>Launch AP</h3>
          <div id="launch_ap_div">
          </div>
          <h3>Swipe</h3>
          <div id="swipe_div">
          </div>
          <h3>Sleep</h3>
          <div data-role="fieldcontain" id="sleep_bar">
            <input type="range" name="slider-fill" id="slider-fill" data-mini="true" value="1" min="1" max="10" data-highlight="true" />
            <a href="" data-role="button" data-inline="true" data-mini="true" data-theme="a" onclick="add_sleep();">Set</a>
          </div>
          <h3>Device</h3>
          <div id="device_div">
          </div>
        </div>
      </div>
    </div>
    <div data-role="panel" data-id="main" data-hash="false">
      <div data-role="page" id="editing">
        <div class="ui-grid-b">
          <div class="ui-block-a">
            <a href="#" data-icon="check" data-role="button" data-theme="b" onclick="preview_tc();">Preview</a>
          </div>
          <div class="ui-block-b">
            <a href="#" data-icon="gear" data-role="button" data-theme="b" onclick="generate_tc();">Generate</a>
          </div>
          <div class="ui-block-c">
            <a href="#" data-icon="info" data-role="button" data-theme="b" onclick="about_tc();">About</a>
          </div>
        </div>
        <div id="testcase_div">
        </div>
        <div>
          <pre id="testcase_preview"></pre>
        </div>
      </div>
    </div>
    <script>
      window.onload = generator_init();
    </script>
  </body>
</html>