<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Auto CM Process Monitoring Console</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="refresh" content="30">

    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      .sidebar-nav-fixed {
        position:fixed;
        top:60px;
        width:21.97%;
      }
      @media (max-width: 767px) {
        .sidebar-nav-fixed {
          width:auto;
        }
      }
      @media (max-width: 979px) {
        .sidebar-nav-fixed {
          position:static;
          width: auto;
        }
      }
    </style>
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Auto CM Process Monitoring Console</a>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav sidebar-nav-fixed">
            <ul class="nav nav-list" id="navbar">
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9" id="playground">
          <div id="jenkins_list"></div>
          <div id="station_list"></div>
          <div id="node_list"></div>
        </div><!--/span-->
      </div><!--/row-->
      <hr/>
      <footer>
        <p>CCI Automation test team</p>
      </footer>
    </div><!--/.fluid-container-->

    <div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h3 id="myModalLabel">Modal header</h3>
      </div>
      <div class="modal-body" id="myModalBody">
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.8.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/console.js"></script>
    <script>
      window.onload = console_init();
    </script>
  </body>
</html>