<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test Report</title>
</head>
<body>
    <p>Dear <%= params[:to] %>,</p>
    <p>The test for <%= params[:project] %> is finished.<br>Following is the result, please kindly check it. Thank you.</p>
    <p>
        <table border="1">
            <tr><th colspan="2"><%= params[:project] %> <%= params[:plan_description] %> Test Result</th></tr>
            <tr><th>Pass</th><td><%= params[:pass_count] %></td></tr>
            <tr><th>Fail</th><td><%= params[:fail_count] %></td></tr>
            <tr><th>Manual</th><td><%= params[:draw_count] %></td></tr>
            <% total_count = params[:pass_count].to_i+params[:fail_count].to_i+params[:draw_count].to_i %>
            <tr><th>Total</th><td><%= total_count %></td></tr>
            <tr><td colspan="2">
                <b>Test Station</b> : <%= params[:test_station] %> <br>
                <b>Test SW Version</b> : <%= params[:sw_version] %> <br>
                Please visit <a href="http://<%= params[:test_station] %>:4567/<%= params[:project] %>/<%= params[:report_name] %>"> Test report</a> to get the detail.
            </td></tr>
        </table>
    </p>
    <p>
        Best regards,<br>
        from Automation CM process team
    </p>
</body>
</html>
